/.pytest_cache
/tests/.pytest_cache
/pages/__pycache__/*
/tests/__pycache__/*
/base/__pycache__/*
/utilities/__pycache__/*
/screen/*
/logs/*
/__pycache__/*
__pycache__/
**/__pycache__/
/venv
/test_results/